* {
    margin: 0;
    padding: 0;
}

:root {
    --ant-color-primary: #1677ff;
    --ant-color-success: #52c41a;
    --ant-color-warning: #faad14;
    --ant-color-error: #ff4d4f;
    --ant-color-info: #1677ff;
    --ant-color-link: #1677ff;
    --ant-color-text-base: #000;
    --ant-color-bg-base: #fff;

    --ant-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --ant-font-family-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

    --ant-border-radius: 6px;

    --ant-color-text: rgba(0, 0, 0, 0.88);
    --ant-color-text-secondary: rgba(0, 0, 0, 0.65);
    --ant-color-text-tertiary: rgba(0, 0, 0, 0.45);
    --ant-color-text-quaternary: rgba(0, 0, 0, 0.25);
    --ant-color-text-placeholder: rgba(0, 0, 0, 0.25);
    --ant-color-text-disabled: rgba(0, 0, 0, 0.25);
    --ant-color-text-heading: rgba(0, 0, 0, 0.88);
    --ant-color-text-label: rgba(0, 0, 0, 0.65);
    --ant-color-text-description: rgba(0, 0, 0, 0.45);
    --ant-color-text-light-solid: #fff;

    --ant-color-fill: rgba(0, 0, 0, 0.15);
    --ant-color-fill-secondary: rgba(0, 0, 0, 0.06);
    --ant-color-fill-tertiary: rgba(0, 0, 0, 0.04);
    --ant-color-fill-quaternary: rgba(0, 0, 0, 0.02);

    --ant-color-bg-layout: #f5f5f5;
    --ant-color-bg-container: #ffffff;
    --ant-color-bg-elevated: #ffffff;
    --ant-color-bg-spotlight: rgba(0, 0, 0, 0.85);
    --ant-color-bg-blur: transparent;

    --ant-color-border: #d9d9d9;
    --ant-color-border-secondary: #f0f0f0;

    --ant-color-primary-bg: #e6f4ff;
    --ant-color-primary-bg-hover: #bae0ff;
    --ant-color-primary-border: #91caff;
    --ant-color-primary-border-hover: #69b1ff;
    --ant-color-primary-hover: #4096ff;
    --ant-color-primary-active: #0958d9;
    --ant-color-primary-text-hover: #4096ff;
    --ant-color-primary-text: #1677ff;
    --ant-color-primary-text-active: #0958d9;

    --ant-color-success-bg: #f6ffed;
    --ant-color-success-bg-hover: #d9f7be;
    --ant-color-success-border: #b7eb8f;
    --ant-color-success-border-hover: #95de64;
    --ant-color-success-hover: #95de64;
    --ant-color-success-active: #389e0d;
    --ant-color-success-text-hover: #73d13d;
    --ant-color-success-text: #52c41a;
    --ant-color-success-text-active: #389e0d;

    --ant-color-error-bg: #fff2f0;
    --ant-color-error-bg-hover: #fff1f0;
    --ant-color-error-border: #ffccc7;
    --ant-color-error-border-hover: #ffa39e;
    --ant-color-error-hover: #ff7875;
    --ant-color-error-active: #d9363e;
    --ant-color-error-text-hover: #ff7875;
    --ant-color-error-text: #ff4d4f;
    --ant-color-error-text-active: #d9363e;

    --ant-color-warning-bg: #fffbe6;
    --ant-color-warning-bg-hover: #fff1b8;
    --ant-color-warning-border: #ffe58f;
    --ant-color-warning-border-hover: #ffd666;
    --ant-color-warning-hover: #ffd666;
    --ant-color-warning-active: #d48806;
    --ant-color-warning-text-hover: #ffc53d;
    --ant-color-warning-text: #faad14;
    --ant-color-warning-text-active: #d48806;

    --ant-color-info-bg: #e6f4ff;
    --ant-color-info-bg-hover: #bae0ff;
    --ant-color-info-border: #91caff;
    --ant-color-info-border-hover: #69b1ff;
    --ant-color-info-hover: #69b1ff;
    --ant-color-info-active: #0958d9;
    --ant-color-info-text-hover: #4096ff;
    --ant-color-info-text: #1677ff;
    --ant-color-info-text-active: #0958d9;
    --ant-color-link-hover: #69b1ff;
    --ant-color-link-active: #0958d9;

    --ant-box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --ant-box-shadow-secondary: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --ant-box-shadow-tertiary: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
    --ant-box-shadow-popover-arrow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    --ant-box-shadow-card: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

body {
    font-size: 16px;
    color: var(--ant-color-text);
    font-family: var(--ant-font-family);
    background: var(--ant-color-bg-base);
}

#bbspk-logo {
    max-height: 75%;
    max-width: 80vw;
    filter: drop-shadow(0 0 8px #000000);
}

h1 {
    text-align: center;
    font-size: 28px;
    margin: 32px 0;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding: 1rem 0 0.5rem 0;
    border-bottom: var(--ant-color-border) 1px solid;
}

h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    padding: 1rem 0 0.5rem 0;
}

header {
    margin-bottom: 0px;
}

.header-banner {
    height: min(400px, 50vh);
    background-image: url(../../assets/image/banner.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-banner.in-night {
    background-image: url(../../assets/image/banner_night.png);
}

.header-banner.in-april-fools {
    background-image: url(../../assets/image/banner_april_fools.png);
    height: 100vh;
    transition: height .7s;
    cursor: pointer;
}

.header-banner.in-april-fools.clicked {
    height: min(400px, 50vh);
    cursor: unset;
}

.header-banner h1 {
    font-size: 48px;
    color: #FFFFFF;
    text-shadow: #000 0 0 8px;
}

.header-intro {
    padding: 1rem;
}

.header-intro p,
.article p {
    margin: 0.75rem 0;
}

.article img {
    height: auto;
    width: auto;
    max-width: calc(min(100vw, 800px) - 4rem);
}

.page-content {
    max-width: min(1000px, 100vw);
    margin: 0 auto;
}

.forum-list {
    max-width: min(800px, 100vw);
    margin: 0 auto;
    padding: 1rem;
}

a {
    --color-link: var(--ant-color-link);
    color: var(--color-link);
    text-decoration: none;
}

a svg {
    width: 1rem;
    height: 1rem;
    fill: var(--color-link);
}

a:hover {
    --color-link: var(--ant-color-primary-text-hover);
}

a:visited {
    --color-link: var(--ant-color-link);
}

a:active {
    --color-link: var(--ant-color-primary-text-active);
}




nav {
    padding: 0 1rem;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: sticky;
    top: 0;
    z-index: 500;
    background-color: #FFFFFF;
    border-bottom: var(--ant-color-border) 1px solid;
}

nav.in-sticky {
    box-shadow: var(--ant-box-shadow-popover-arrow);
}

.nav-item {
    padding: 1rem 1rem;
    min-width: 6rem;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:hover {
    background-color: #FAFAFA;
}

.nav-item:active {
    background-color: #EEEEEE;
}

@media screen and (max-width: 760px) {
    .nav-item {
        padding: 1rem 1rem;
        min-width: unset;
    }
}

@media screen and (max-width: 450px) {
    .nav-item {
        padding: 1rem 0.5rem;
        min-width: unset;
        flex: 1;
    }    
}



.bbspk-portal {
    display: flex;
    margin: 1rem;
    gap: 1rem;
    align-items: center;
}

.bbspk-portal-left {
    flex: 2;
}

.bbspk-portal-right {
    flex: 1;
}

@media screen and (max-width: 760px) {
    .bbspk-portal {
        flex-direction: column;
    }
}





.list-controller {
    margin: 0.75rem 0 0 0;
    text-align: center;
}

.list-controller-item {
    display: inline-block;
    padding: 0.5rem;
    color: var(--ant-color-primary);
    cursor: pointer;
}

.list-controller-item+.list-controller-item {
    margin-left: 0.5rem;
}

.list-controller-item:hover {
    color: var(--ant-color-primary-text-hover);
}

.list-controller-item:active {
    color: var(--ant-color-primary-text-active);
}

.forum-item {
    --state-color: var(--ant-color-border);
    --background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border: var(--ant-color-border) 1px solid;
    border-left: var(--state-color) var(--ant-border-radius) solid;
    border-radius: var(--ant-border-radius);
    box-shadow: var(--ant-box-shadow-popover-arrow);
    box-sizing: border-box;
    padding: 0.5rem 0.75rem;
    position: relative;
    overflow: hidden;
    background-color: var(--background-color);
}

@keyframes forum-item-bg {
    0% { background-position: 0rem 0rem; }
    100% { background-position: 0rem 2rem; }
}

.forum-item.forum-state-up .forum-item-bg,
.forum-item.forum-state-failure .forum-item-bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/svg/bg-state-up.svg);
    background-size: 2rem;
    background-color: #52c41a05;
    animation: forum-item-bg 1s linear 0s infinite;
}

.forum-item.forum-state-failure .forum-item-bg {
    background-image: url(../../assets/svg/bg-state-failure.svg);
    animation: forum-item-bg 2s linear 0s infinite;
    background-color: #faad1405;
}

.forum-item.forum-state-down .forum-item-bg,
.forum-item.forum-state-close .forum-item-bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff4d4f0a;
}

.forum-item.forum-state-close .closed-at {
    color: var(--ant-color-error);
}

.forum-item.forum-state-close .closed-at svg {
    fill: var(--ant-color-error);
}

.forum-item>*:not(.forum-item-bg) {
    z-index: 1;
}

.forum-item .forum-item-bg-2 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, var(--background-color) 0% , var(--background-color) 33.33%, transparent 100%);
}

.forum-item.forum-state-up {
    --state-color: var(--ant-color-success);
}

.forum-item.forum-state-down,
.forum-item.forum-state-close {
    --state-color: var(--ant-color-error);
}

.forum-item.forum-state-failure {
    --state-color: var(--ant-color-warning);
}

.forum-item+.forum-item {
    margin-top: 0.75rem;
}

.forum-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.75rem;
    cursor: pointer;
}

/* .forum-item-header .state-box {
    min-width: 2.5rem;
} */

.forum-item-header .state-box .state-icon {
    width: 32px;
    height: 32px;
    fill: var(--state-color);
}

.forum-item-header .title-box {
    flex: 1;
    min-width: min(200px, 70vw);
}

.forum-item-header .title-box .title {
    font-size: 18px;
    color: var(--ant-color-text);
}

.forum-item-header .title-box .url {
    font-size: 12px;
    color: var(--ant-color-text-secondary);
}

.forum-item-header .time-box {
    font-size: 12px;
    color: var(--ant-color-text-tertiary);
}

.forum-item-header .date-icon-text {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.forum-item-header .date-icon-text+.date-icon-text {
    margin-top: 0.25rem;
}

.forum-item-header .date-icon-text svg {
    width: 1rem;
    height: 1rem;
    fill: var(--ant-color-text-tertiary);
}

.forum-item-header .action-box a,
.archive-url a {
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
}

.forum-item-content {
    margin-top: 0.5rem;
    border: var(--ant-color-border) 1px solid;
    padding: 1rem;
    background-color: #ffffff;
    display: none;
}

.forum-item-content.active {
    display: block;
}

.forum-item-content .attr-label {
    font-weight: bold;
    color: var(--ant-color-text-tertiary);
    font-size: 14px;
}

.forum-item-content .attr-value {
    padding: 0.25rem 1rem 0.75rem 1rem;
}

.forum-item-content summary {
    margin-top: 0.25rem;
    color: var(--ant-color-primary);
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
}

.forum-item-content summary:hover {
    color: var(--ant-color-primary-text-hover);
}

.forum-item-content summary:active {
    color: var(--ant-color-primary-text-active);
}

.forum-item-content ol {
    padding-left: 1rem;
}

.forum-item-content ol.reference-more {
    margin-top: 0.5rem;
}

.forum-item-content ol li+li {
    margin-top: 0.5rem;
}

.forum-item-content .reference ol {
    font-size: 14px;
    color: var(--ant-color-text-secondary);
}

.forum-item-content a.reference-link {
    font-size: 12px;
    --color-link: var(--ant-color-text-tertiary);
    word-break: break-all;
}

.forum-item-content a.reference-link:hover {
    text-decoration: underline;
}

.forum-item-content .icp-line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}

.forum-item-content .icp-line-item {
    flex: 1;
    display: flex;
    align-items: center;
    min-width: 150px;
    gap: 0.75rem;
}

.forum-item-content .icp-line-item .icp-state {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    --color-fill: #000000;
    color: var(--color-fill);
}

.forum-item-content .icp-line-item .icp-state svg {
    width: 1rem;
    height: 1rem;
    fill: var(--color-fill);
}

.forum-item-content .icp-line-item .icp-state-yes {
    --color-fill: var(--ant-color-success);
}

.forum-item-content .icp-line-item .icp-state-no {
    --color-fill: var(--ant-color-error);
}

.forum-item-content .icp-line-item .icp-state-in_progress {
    --color-fill: var(--ant-color-warning);
}




.split-line {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    gap: 0.5rem;
    color: var(--ant-color-text-tertiary);
}

.split-line .line {
    height: 1px;
    background-color: var(--ant-color-border);
}

.split-line .line.left {
    width: 1rem;
}

.split-line .line.right {
    flex: 1;
}

.split-line .icon {
    width: 28px;
    height: 28px;
}

.split-line .icon svg {
    width: 28px;
    height: 28px;
    fill: var(--ant-color-text-tertiary);
}




.forum-list-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--ant-color-border) 1px solid;
    border-left: var(--ant-color-border) var(--ant-border-radius) solid;
    border-radius: var(--ant-border-radius);
    box-shadow: var(--ant-box-shadow-popover-arrow);
    box-sizing: border-box;
    margin-bottom: 1.25rem;
    padding: 1rem;
}

.forum-list-header .forum-count .now {
    font-size: 72px;
    line-height: 80px;
    font-weight: bold;
    color: var(--ant-color-text);
}

.forum-list-header .forum-count .survival {
    color: var(--ant-color-success);
}

.forum-list-header .forum-count .total {
    font-size: 32px;
    color: var(--ant-color-text-secondary);
}

.forum-list-header .forum-count-title {
    color: var(--ant-color-text-tertiary);
    margin-bottom: 0.75rem;
}

.forum-list-header .forum-count-more .forum-count-item {
    color: var(--ant-color-text-tertiary);
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.forum-list-header .forum-count-more .forum-count-item+.forum-count-item {
    margin-left: 1rem;
}

.forum-list-header .forum-count-more .forum-count-value {
    font-weight: bold;
    font-size: 28px;
}

.forum-list-header .forum-count-more .forum-count-item.up .forum-count-value { color: var(--ant-color-success); }
.forum-list-header .forum-count-more .forum-count-item.failure .forum-count-value { color: var(--ant-color-warning); }
.forum-list-header .forum-count-more .forum-count-item.down .forum-count-value { color: var(--ant-color-error); }
.forum-list-header .forum-count-more .forum-count-item.unknow .forum-count-value { color: var(--ant-color-text-secondary); }

.forum-list-header .forum-controller {
    border-top: var(--ant-color-border) 1px solid;
    margin-top: 1rem;
    width: 100%;
}





footer {
    border-top: var(--ant-color-border) 1px solid;
    background-color: #FAFAFA;
}

footer>.page-content {
    display: flex;
}

.footer-logo-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 0;
}

.footer-content {
    flex: 2;
    margin: 32px 0;
    padding: 1rem;
    text-align: center;
    color: var(--ant-color-text-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

.footer-content p {
    font-size: 14px;
}

#footer-logo {
    margin: 0 auto;
    width: 60%;
    height: auto;
}

#footer-qrcode {
    margin: 0 auto;
    width: 80%;
    height: auto;
}

@media screen and (max-width: 760px) {
    footer>.page-content {
        flex-direction: column;
    }

    .footer-logo-card {
        gap: 2rem;
        padding: 2rem 0;
    }
}




.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--ant-color-text-secondary);
}

.timer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ant-color-text-tertiary);
}

.timer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer-item-value {
    display: inline-block;
    font-weight: bold;
    font-size: 48px;
    min-width: 5rem;
    text-align: center;
    color: var(--ant-color-success);
}

#btn-bbspk-join,
#btn-nuke-attack {
    display: block;
    outline: unset;
    border: unset;
    background-color: var(--ant-color-success);
    color: #FFFFFF;
    font-size: 20px;
    padding: 1rem 1rem 1rem 1.75rem;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.25rem;
}

#btn-bbspk-join:hover,
#btn-nuke-attack:hover,
#btn-bbspk-join:focus-visible,
#btn-nuke-attack:focus-visible {
    background-image: url(../../assets/svg/bg-state-unknow.svg);
    background-size: 2rem;
    animation: forum-item-bg 1s linear 0s infinite;
    background-color: var(--ant-color-success-text-hover);
}

#btn-nuke-attack {
    margin-top: 1rem;
    background-color: var(--ant-color-error);
    display: none;
}

#btn-nuke-attack:hover,
#btn-nuke-attack:focus-visible {
    background-color: var(--ant-color-error-text-hover);
}

#btn-nuke-attack.disable {
    background-color:#AAAAAA;
    opacity: 0.5;
    pointer-events: none;
}

body.in-april-fools #btn-nuke-attack {
    display: block;
}

.bbspk-join-card {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.bbspk-join-message {
    text-align: center;
    color: var(--ant-color-text-secondary);
}





.aic-burst-tip {
    opacity: 0.1;
    transition: opacity .3s;
}

.aic-burst-tip:hover {
    opacity: 0.5;
}

@media screen and (max-width: 760px) {
    .aic-burst-tip {
        display: none;
    }
}




.text-heimu {
    background-color: #000000;
    color: #000000;
    transition: color .3s;
}

.text-heimu:hover {
    color: #FFFFFF;
}
